<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Jugador1</h1>
	<h2>5</h2>
	
	<form action="/tablero" method="post">
		<label id="palabraJ1" value="_ _ _ _ _"></label>		
		<input type="text" id="cajaLetraEvaluar" value = "A">
		<input type="submit" id="Evaluar" value="Evaluar">
	</form>

<h2>Letra Incorrecta</h2>
</body>
</html>