<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Jugador1</h1>
	<h2>5</h2>
	
	<form action="/tablero">
		<input type="text" id="palabraJ1" >
		<input type="text" id="letraJ1" >
	</form>

</body>
</html>